<!DOCTYPE html>
<html>
  <head>
    <title><%= status %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	Page Not Found. <a href='/'>Back to Homepage</a>
  </body>
</html>