<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <% include common/header.ejs %>
    </head>
    <body>
  	     <% include common/nav.ejs %>
        <div class='container'>
            <div class='alert alert-warning'><%= description %><a role='back'><%= lang.goHome %></a></div>
        </div>
        <% include common/footer.ejs %>
        <script>
            $(".container [role='back']").one('click.back', function(){
              window.location.href="/";
            });
        </script>
    </body>
</html>