<!DOCTYPE html>
<html>
  <head>
  	   <meta charset='utf-8'>
       <meta http-equiv="content-language" content="zh-tw">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta name="author" content="Shiny">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <title><%= lib.siteName(title) %></title>
       <meta name='description' content="<%= description %>"></meta>
       <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
       <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
       <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	   <% include common/nav.ejs %>
      <div class='container'>
        <div class='alert alert-warning'><%= description %><a role='back'><%= lang.goHome %></a></div>
      </div>
    <% include common/footer.ejs %>
    <script>
    $(".container [role='back']").one('click.back', function(){
      window.location.href="/";
    });
    </script>
  </body>
</html>