/* global */
a {
  cursor: pointer;
}
a:hover,
a:focus {
  text-decoration: none;
}
img {
  max-width: 100%;
}
footer {
  padding: 80px 0;
  text-align: center;
}
article {
  position: relative;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 50px;
}
header {
  position: relative;
  margin-bottom: 40px;
}
header h2 {
  font-weight: bold;
}
header .create-date {
  position: absolute;
  top: 0;
  right: 0;
  color: #a52a2a;
}
.videoWrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* general page */
#backtotop {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  opacity: 0.5;
  transition: opacity 0.5s;
  cursor: pointer;
  width: 4em;
  height: 4em;
  line-height: 4em;
}
#backtotop .fa-circle {
  font-size: 4em;
}
#backtotop .fa-chevron-up {
  font-size: 2em;
}
body.scroll #backtotop {
  display: block;
}
#backtotop:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.banner {
  margin-top: -20px;
  background: url("/uploads/cover.jpg") center center;
  background-size: cover;
  height: 500px;
}
.profile img {
  float: left;
  margin-right: 10px;
}
.experience .date {
  float: right;
  color: #808080;
}
.experience .job {
  float: right;
  color: #008000;
  margin-right: 10px;
}
.socialBox {
  text-align: center;
}
#disqus_thread {
  margin-top: 50px;
}
.desc {
  color: #ccc;
  font-weight: normal;
}
.social-list {
  margin: 10px 0;
}
.social-list a {
  display: inline-block;
  margin: 5px 10px;
  font-size: 36px;
  color: #808080;
}
.social-list a:hover {
  color: #2a6496;
}
/* write page */
div[data-role="editor-content"] {
  min-height: 250px;
  background-color: #fff;
  border-collapse: separate;
  border: 1px solid #ccc;
  padding: 4px;
  margin-bottom: 20px;
  box-sizing: content-box;
  -webkit-box-shadow: rgba(0,0,0,0.075) 0px 1px 1px 0px inset;
  box-shadow: rgba(0,0,0,0.075) 0px 1px 1px 0px inset;
  border-radius: 3px;
  overflow: scroll;
  outline: none;
}
div[data-role="editor-toolbar"] {
  margin: 10px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tm-input {
  width: 120px;
}
.tag-box {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  font-weight: normal;
}
.tag-box li {
  float: left;
  padding: 3px 0;
  margin-right: 5px;
}
.tag-box li a {
  color: #5a5;
}
.tag-box li a:hover {
  color: #2a6496;
}
.tag-box li:after {
  content: ",";
}
.tag-box li:last-child:after {
  content: "";
}
#fileupload {
  display: none;
}
.fileBox {
  padding: 0;
  margin: 0;
  list-style: none;
}
.fileBox li {
  width: 160px;
  height: 160px;
  display: inline-block;
  margin: 10px;
}
.fileBox li img {
  max-width: 100%;
}
.archive .year-box {
  margin-bottom: 30px;
}
.archive .year-box .year {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  background: #38b;
  color: #fff;
  font-weight: bold;
  text-align: center;
  float: left;
}
.archive .year-box .month-box {
  float: left;
}
.archive .year-box .month-box .month {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  background: #777;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.archive .year-box .month-box .article-box .article-item {
  margin: 10px 0;
}
.archive .year-box .month-box .article-box .article-item .title {
  font-weight: bold;
}
