<span id='backtotop' class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-chevron-up fa-stack-1x fa-inverse" title='<%= lang.backToTop %>'></i>
</span>
<footer>
    <div class='container'>
        © 2014 Shiny All rights reserved.
        <div class='social-list'>
            <a href='https://github.com/ShinyChang'><i class='fa fa-github'></i></a>
            <a href='https://facebook.com/shinychang.tw'><i class='fa fa-facebook'></i></a>
            <a href='https://plus.google.com/+ZhiHongChang'><i class='fa fa-google-plus-square'></i></a>
        </div>
    </div>
</footer>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery.fancybox.pack.js"></script>
<script src="/javascripts/jquery.fancybox-buttons.js"></script>
<script src="/javascripts/main.js"></script>
