<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class='container'>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex7-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Shiny</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex7-collapse">
            <ul class="nav navbar-nav">
                <li <% if (path == "/about") {%>class="active"<% } %>><a href="/about">關於</a></li>
                <li <% if (path == "/article") {%>class="active"<% } %>><a href="/article/list">文章</a></li>
                <li <% if (path == "/article/archive") {%>class="active"<% } %>><a href="/article/archive">封存</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>