<ul class='tag-box clearfix'>
<%
    var tagString = article.tag || "";
    var tags = tagString.toString().split(",");
    for(var o in tags) {
%>
    <li><a href='/article/tag/<%= tags[o] %>'><%= tags[o] %></a></li>
    <% } %>
</ul>
