<!DOCTYPE html>
<html>

<head>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <title>Url IFrame Embeddable Checker</title>
    <style>
    iframe {
        border: 0;
        width: 100%;
        height: 450px;
        transition: .5s;
    }
    </style>
</head>

<body>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-xs-12'>
                <div class="page-header">
                    <h1>Check the url is iframe embeddable
                        <small>Try it now</small>
                    </h1>
                </div>
                <div class="input-group">
                    <span class="input-group-addon js-protocol">
                        http://
                    </span>
                    <input id="url" type="text" class="form-control" placeholder="example.com">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id='checker'>Check</button>
                    </span>
                </div>
                <iframe id="iframe"></iframe>
            </div>
        </div>

    </div>
    <script>
    (function() {
        "use strict";
        var checker = document.querySelector("#checker"),
            iframe = document.querySelector('#iframe'),
            url = document.querySelector('#url'),
            protocol = document.querySelector(".js-protocol");
        iframe.addEventListener('load', function() {
            if (this.getAttribute('data-reset') === '1') {
                this.contentDocument.write("Can't Be embedded");
                this.setAttribute('data-reset', 0);
                this.setAttribute('src', this.getAttribute('data-url'));
                this.style.opacity = 0;
                this.style.display = 'block';
            } else {
                this.style.opacity = 1;
                checker.innerHTML = 'Check';
            }
        });

        url.addEventListener('keyup', function(e) {
            if (e.keyCode === 13) {
                checker.dispatchEvent(new Event('click'));
            }
        });

        url.addEventListener('input', function(e){
            var ptc = protocol.innerText,
                href,
                test = /^((https?|ftp|file):)?\/\//i.exec(url.value);
            if (!test) {
                return;
            }
            ptc = test && test[0] || ptc;
            if (test && test[0]) {
                href = url.value.replace(test[0], '');
            } else {
                href = url.value;
            }

            url.value = href;
            protocol.innerText = ptc;
            ptc = href = test = null;
        });

        checker.addEventListener('click', function() {
            iframe.style.display = 'none';
            iframe.setAttribute('data-reset', '1');
            iframe.setAttribute('data-url', protocol.innerText + url.value);
            iframe.setAttribute('src', 'about:blank');
            this.innerHTML = 'Loading...';
        }, false);
    })();
    </script>
</body>

</html>


